<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Etiquetas disponibles</title>
  </head>
  <body>
    <h1>¡Etiquetas disponibles!</h1>
    <form action="/etiquetas" method="GET">
      <label for="Deportista">Deportista</label>
      <input type="checkbox" id="Deportista" name="Deportista" />
      <br />
      <label for="Gamer">Gamer</label>
      <input type="checkbox" id="Gamer" name="Gamer" />
      <br />
      <label for="Otaku">Otaku</label>
      <input type="checkbox" id="Otaku" name="Otaku" />
      <br />
      <label for="LGBTQ">LGBTQ</label>
      <input type="checkbox" id="LGBTQ" name="LGBTQ" />
      <br />
      <label for="Musica">Musica</label>
      <input type="checkbox" id="Musica" name="Musica" />
      <br />
      <label for="Tecnologia">Tecnologia</label>
      <input type="checkbox" id="Tecnologia" name="Tecnologia" />
      <br />
      <label for="Juegos_de_mesa">Juegos_de_mesa</label>
      <input type="checkbox" id="Juegos_de_mesa" name="Juegos_de_mesa" />
      <br />
      <label for="CEE">CEE</label>
      <input type="checkbox" id="CEE" name="CEE" />
      <br />
      <label for="Solter@">Solter@</label>
      <input type="checkbox" id="Solter@" name="Solter@" />
      <br />
      <label for="En_Relacion">En Relacion</label>
      <input type="checkbox" id="En_Relacion" name="En_Relacion" />
      <br />
      <label for="Busco_Amigos">Busco Amigos</label>
      <input type="checkbox" id="Busco_Amigos" name="Busco_Amigos" />
      <br />
      <button type="reset">Borrar elecciones</button>
      <button type="submit">Enviar elecciones</button>
    </form>
  </body>
</html>
