{% extends 'plantilla.html' %}
{% block title %}Etiquetas{%endblock%}
{% block content %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Etiquetas disponibles</title>
  </head>
  <body>
    <h1>¡Etiquetas disponibles!</h1>
    <form method="GET">
      <label for="Deportista">Deportista</label>
      <input type="checkbox" id="Deportista" name="Deportista" value="Deportista" />
      <br />
      <label for="Gamer">Gamer</label>
      <input type="checkbox" id="Gamer" name="Gamer" value="Gamer"/>
      <br />
      <label for="Otaku">Otaku</label>
      <input type="checkbox" id="Otaku" name="Otaku" value="Otaku"/>
      <br />
      <label for="LGBTQ">LGBTQ</label>
      <input type="checkbox" id="LGBTQ" name="LGBTQ" value="LGBTQ"/>
      <br />
      <label for="Musica">Musica</label>
      <input type="checkbox" id="Musica" name="Musica" value="Musica"/>
      <br />
      <button type="reset">Borrar elecciones</button>
      <button type="submit">Enviar elecciones</button>
      <a href="{% url 'salir' %}">Salir</a><a> </a><a href="{% url 'home'%}">home</a>  
      </ul>   
    </form>
  </body>
</html>

{% endblock %}